
<div *ngFor="let product of products">
  <h3>
    <div>
      <ng-template [ngIf]="product.id === 'file-detection'">
        <a [title]="product.name + ' details'" [routerLink]="['/file-detection']">>
          {{ product.name }}
        </a>
      </ng-template>
    </div>

    <div>
      <ng-template [ngIf]="product.id === 'camera-detection'">
        <a [title]="product.name + ' details'" [routerLink]="['/camera-detection']">>
          {{ product.name }}
        </a>
      </ng-template>
    </div>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->